.feedSettings {
  width: 100%;
  margin: 16px 0;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.feed {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updateButton {
  margin: 16px;
}
