@import '../../styles/constants.scss';

.postGrid {
  width: 100%;
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
  overflow-y: auto;
}

@media (max-width: $screen-l) {
  .postGrid {
    gap: 8px;
  }
}
