@import '../../styles/constants.scss';

.header {
  position: sticky;
  top: 64px;
  background: $white;
  margin: initial;
  padding: 16px 0;
}

.footer {
  padding-top: 16px;
  position: sticky;
  bottom: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;

  button {
    width: 200px;
  }

  .danger {
    margin-top: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: $black;
  }

  .footer {
    gap: 16px;
  }
}
