@import '../../styles/constants.scss';

.header {
  height: 64px;
  position: sticky;
  top: 0;
  background-color: #fff;
  display: flex;
  padding: 0 16px;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 200px;
  margin-right: 4px;
}

.brand {
  text-align: left;
  margin: initial;
  width: 200px;
  color: #000;
}

.user {
  text-align: right;
  width: 200px;
  color: #000;
}

@media (max-width: $screen-s) {
  .loadingOverlay {
    left: 0;
  }

  .search,
  .clear {
    display: none;
  }
}
