@import '../../styles/constants.scss';

.header {
  top: 0;
  position: sticky;
  background-color: $white;
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.search {
  width: 200px;
  margin-right: 4px;
}

.logo {
  margin: initial;
  width: 200px;
  display: flex;

  img {
    height: 32px;
  }

  bottom: -4px;
  position: relative;
}

.user {
  text-align: right;
  width: 200px;
  color: #000;
}

@media (max-width: $screen-l) {
  .loadingOverlay {
    left: 0;
  }

  .searchWrapper {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .clear {
    transform: initial;
  }
}

@media (prefers-color-scheme: dark) {
  .header {
    background-color: #333;

    .brand,
    .user {
      color: #f4f4f4;
    }
  }
}
