@import '../../styles/constants.scss';

.headerWrapper {
  position: sticky;
  top: 0;
  background-color: #fff;
}

.header {
  height: 64px;
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  width: 200px;
  margin-right: 4px;
}

.brand {
  text-align: left;
  margin: initial;
  width: 200px;
  color: #000;
}

.user {
  text-align: right;
  width: 200px;
  color: #000;
}

@media (max-width: $screen-s) {
  .headerWrapper {
    top: 0px;
    height: 110px;
  }

  .loadingOverlay {
    left: 0;
  }

  .searchWrapper {
    padding-top: 8px;
    padding-bottom: 16px;
  }
}
