@import '../../styles/constants.scss';

.main {
  height: 100vh;
  width: 100%;
  max-width: 80ch;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    max-width: 70ch;
    padding: 0 16px;
  }

  a {
    margin-top: 16px;
  }
}

.advanced {
  button {
    margin-left: 8px;
  }
}

.loginButtons {
  width: max-content;
  display: flex;
  gap: 8px;
  font-size: 24px !important;
}

@media (max-width: $screen-l) {
  .loginButtons {
    gap: 16px;
    flex-direction: column;
  }

  .advanced {
    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;

      button {
        margin: initial;
      }
    }
  }
}
