@import '../../constants.scss';

.post {
  height: max-content;
  width: 100%;
  flex-shrink: 0;
}

.wrapper {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.fullSizeWrapper {
  width: 960px;
  max-height: 960px;
  overflow: hidden;
}

.gridWrapper {
  max-width: calc((960px - 32px) / 3);
  height: calc((960px - 32px) / 3);
  width: 100%;

  .post {
    min-width: 100%;
  }
}

.fullSize {
  height: max-content !important;
  width: 100%;
}

@media (max-width: $screen-l) {
  .fullSizeWrapper {
    width: 100vw;
    max-height: 100vw;
  }

  .gridWrapper {
    height: calc((100vw - 16px) / 3);

    .post {
      height: initial;
    }
  }

  .post {
    height: calc((100vw - 16px) / 3);
  }
}
