html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin: auto;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  padding-top: 16px;
  position: sticky;
  bottom: 16px;
}
