@import './styles/constants.scss';

html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app {
  height: 100%;
  width: 100%;
  max-width: 960px;
  margin: auto;
  text-align: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.footer {
  padding-top: 16px;
  position: sticky;
  bottom: 16px;
}

button.danger {
  color: red;
}

@media (max-width: $screen-l) {
  html {
    zoom: 120%;
  }

  button {
    transform: scale(1.4);
  }
}

@media (prefers-color-scheme: dark) {
  #root,
  .app {
    background-color: #333;
    color: #f4f4f4;
  }

  a:link,
  a:visited {
    color: #6666ff;
  }
}
